@font-face {
  font-family: 'crete_rounditalic';
  src: url('../fonts/creteround-italic-webfont.eot');
  src: url('../fonts/creteround-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/creteround-italic-webfont.woff') format('woff'),
       url('../fonts/creteround-italic-webfont.ttf') format('truetype'),
       url('../fonts/creteround-italic-webfont.svg#crete_rounditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'crete_roundregular';
  src: url('../fonts/creteround-regular-webfont.eot');
  src: url('../fonts/creteround-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/creteround-regular-webfont.woff') format('woff'),
       url('../fonts/creteround-regular-webfont.ttf') format('truetype'),
       url('../fonts/creteround-regular-webfont.svg#crete_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}