header {
	padding: 50px 0;
	background: #fafafa;
	margin-bottom: 50px;
	border-bottom: 1px solid #ededed;
	h1 {
		color: #ccc;	
		font-size: 3em;
		a {
			color: #ccc;		
			letter-spacing: $paragraph-letter-spacing;
			&:hover {
				color: #ccc;
			}
		}
	}
	h2 {
		color: #ccc;
	}
	
}